html {
    min-height: 100vh;
    color: white;
    background: #1e202e;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1, h2, p, ul, li, body {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    padding: 1em 0.5em;
    background: #16161f;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

nav > ul > li {
    font-size: 1.5rem;
    font-weight: bold;
}

.hamburger_icon {
    width: 25px;
    height: 25px;
}

header {
    padding: 0 3em;
    margin: 1em 0;
}

.title {
    font-size: 2.5rem;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.subtitle {
    width: 0;    
    max-width: 225px;
    background: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    margin: auto 0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 2s steps(40, end) 1s forwards, blink-caret 1.2s step-end infinite 1s;
}

.socials_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.social_button {
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.25rem;
    background-color: rgb(64, 64, 64);
    padding: 0.5em 0.75em;
    border-radius: 1em;
    
}

.social_button_icon {
    width: 25px;
    height: 25px;
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes typing {
    from {
        width: 0%
    } 
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}
