body {
    background-color: rgb(250, 240, 241);
    color: black;
    animation: fadeIn 3s;
    font-family: 'Be Vietnam Pro', sans-serif;
    transition: background-color 3s, color 3s;
    margin: 0;
}
/*  rgb(147, 236, 159) */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.darkMode {
    background-color: rgb(33, 33, 33);
    color: white;
    transition: background-color 3s, color 3s;
}

.navBarDarkMode {
    color: white;
}

#mainContainer {
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    z-index: 1;

}

#navBar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

#navBar > li > a {
    text-decoration: none;
    color: black;
    transition: color 3s;

}

#darkModeIcon {
    cursor: pointer;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
} 

.title {
    display: flex;
    background-image: linear-gradient(to right, #fffbd5, #b20a2c);  
    color: black;
    justify-content: center;
    border-radius: 10px;

    
}

.darkModeTitle {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}

.lineBreak {
    width: 100%;
    color: black;
}

.sectionTitle {
    padding-bottom: 0;
    margin-bottom: 0;
}

#aboutMeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#aboutMeContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#aboutMeDescription {
    display: flex;
    flex: 1;
    
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 1;
}

#portfolioPicture {
    display: flex;
    justify-content: center;
    height: 250px;
    border-radius: 15px;
}

#portfolioHeader {
    display: flex;
    justify-content: center;
    align-self: center;
}