body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(gray, #121212);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1, h2, ul, li, a, p {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.container {
    position: relative;
    margin: 1.5em;
}

.portfolio {
    border-radius: 50%;
    max-width: 700px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
}

.header {
    margin-top: 0.5em;
    font-size: 2rem;
    font-weight: bold;
}

.sub_header {
    color: rgb(160, 157, 157);
    margin: 0.5em 0;
}

.icon_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
    gap: 1em;
}

.follow_button {
    background-color: transparent;
    border: 1px solid rgb(160, 157, 157);
    color: white;
    border-radius: 15px;
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
}

.play_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1BD760;
    color: black;
    padding: 1.25em;
    border: none;
    color: black;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.nav_bar {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 1em 2em;
}

.nav_bar_text {
    color: #B3B3B3;
    font-size: 1.2rem;
}

.more_overlay_container {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    display: none;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
}

.blur {
    filter: blur(8px);
}

.close_button {
    text-align: center;
    margin: 0 auto;
    display: flex;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
    z-index: 4;
}

.contact_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.contact_list_item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact_list_item_text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#modal {
    opacity: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 0;
}

.modal_transition {
    transition: opacity 500ms, display 500ms;
}

.modal_content {
    user-select: none;
    padding: 1em;
}

.experience_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    margin-top: 1.5em;
}

.experience_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience_info {
    display: flex;
    gap: 0.75em;
    align-items: center;
}

.experience_card_header {
    font-size: 0.9rem;
    font-weight: bold;
}

.experience_card_subheader {
    font-size: 0.75rem;
    font-style: italic;
}

.experience_icon {
    background-color: white;
    padding: 0.5em;
    border-radius: 10px;
}

.experience_overlay_container {
    position: fixed;
    left: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
    z-index: 3;
    padding: 1em;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: space-between;
}

.experience_bullets_container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    font-size: 1rem;
}

.title_header {
    margin-bottom: 0.5em;
    font-style: italic;
}

.time_worked {
    font-size: 1.15rem;
    font-weight: bold;
}

.subheader {
    margin: 0.75em 0;
}

.projects_list {
    list-style: none;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    position: relative;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.projects_list::-webkit-scrollbar { 
    display: none;
    scrollbar-width: none;
}

.project_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    color: white;
    font-weight: bold;
    object-fit: scale-down;
}

.project_description {
    font-size: 1.25rem;
}

.player { 
    display: flex;
    position: sticky;
    bottom: 0.01em;
    left: 0;
    width: 97%;
    background-color: #4F3353;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 4;
}

.player_content {
    display: flex;
    padding: 0.5em 1em;
    gap: 0.5em;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.player_content_info {
    display: flex;
    gap: 0.7em;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.player_icon {
    width: 25px;
    height: 25px;
    padding: 0.25em;
    border-radius: 5px;
    margin-left: 0.25em;
    transition: all 0.5 ease-in-out;
}

#player_header {
    font-weight: bold;
}

.player_heart_icon {
    animation: expand_and_deflate 0.5s;
}

#currently_playing_icon {
    background-color: white;
}

#progress_bar {
    position: absolute;
    width: 0%;
    border: 1.5px solid white;
    bottom: 0;
    left: 0;
}

#complete_progress_bar {
    position: absolute;
    width: 100%;
    border: 1.5px solid #6B6A6A;
    bottom: 0;
    left: 0;
}

#detailed_page {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    bottom: -100vh;
    z-index: 0;
    overflow: hidden;
}

.detailed_page_container {
    display: flex;
    height: 100vh;
    flex-direction: column; 
    justify-content: space-around;
    padding: 0 2em;
}

.detailed_page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailed_page_icon {
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    padding: 5em;
}

.detailed_page_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailed_page_details_header {
    font-size: 1.25rem;
    font-weight: bold;
}

.detailed_page_details_subheader {
    color: rgb(199, 195, 195);
}

.progress_bar_container {
    width: 100%;
    position: relative;
}

.player_icons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailed_page_pause_icon {
    background-color: white;
    padding: 1em;
    border-radius: 100%;
}

#detailed_page_progress_bar {
    position: absolute;
    width: 0%;
    border: 3px solid white;
    border-radius: 2px;
}

#detailed_page_complete_progress_bar {
    position: absolute;
    width: 100%;
    border: 3px solid #6B6A6A;
    border-radius: 2px;
}


.player_clicked {
    animation: slide_in 0.25s ease-in;
    transform: translateY(-100vh);
    z-index: 20;
}

.detailed_page_clicked {
    animation: slide_out 0.5s ease-in;
    transform: translateY(100vh);
    z-index: 0;
}

.selected_text {
    color: #1BD760;
}

#skills_list {
    list-style: none;
    display: flex;
    gap: 1.5em;
    overflow-x: scroll;
    position: relative;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

#skills_list::-webkit-scrollbar { 
    display: none;
    scrollbar-width: none;
}

.skill_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.skill_container {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.skill_icon {
    width: 50px;
    height: 50px;
}

@media (min-width: 800px) {
    .icon_list {
        flex-direction: row-reverse;
        justify-content: start;
        gap: 2em;
        align-items: center;
    }

    #experience_list {
        gap: 0.25em;
    }

    .experience_card {
        width: 350px;
        justify-content: space-between;
        margin: 0.25em 0;
        user-select: none;
    }

    .experience_card:hover {
        background-color: gray;
    }
}

@keyframes expand_and_deflate {
    0% {
        transform: scale(0.75)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes slide_in {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(-100vh);
    }
}

@keyframes slide_out {
    0% {
        transform: translateY(-100vh);
    } 100% {
        transform: translateY(100vh);
    }
}



