body {
    background-color: white;
    color: black;
    animation: fadeIn 3s;
    font-family: 'Be Vietnam Pro', sans-serif;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.darkMode {
    background-color: black;
    color: white;
    transition: background-color 3s;
}

#mainContainer {
    margin-left: 25%;
    margin-right: 25%;
}

#navBar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

#navBar > li > a {
    text-decoration: none;
    color: black;

}

#darkModeIcon {
    cursor: pointer;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
}

#aboutMeContainer {

}

#skillsContainer {

}